<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #clientesFrm="ngForm">
      <mat-card>
         <mat-card-header>
          <mat-card-title>
            Dados Pessoais
          </mat-card-title>
         </mat-card-header>
         <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayout="start" fxlayoutGap="16px">
            <mat-form-field class="full-width">
              <mat-label>Nome: *</mat-label>
              <input matInput type="text" placeholder="Ex: José da silva"/>
            </mat-form-field>
          </div>
         </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
