<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="900px">
    <div fxLayout="column" fxFlex="1000">
    <form class="mt-60" #buscaForm="ngForm" (ngSubmit)="research()">
      <mat-card appearance="outlined" class="p-2">
        <mat-card-header >
          <mat-card-title>
            Consulta
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100%">
              <mat-form-field class="full-width">
                <mat-label>
                  Nome:
                </mat-label>
                <input name="nameSearch" [(ngModel)]="nameSearch" matInput placeholder="ex: José"/>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
        <button type="submit" mat-flat-button color="primary">
            <mat-icon fontIcon="search"/>
            Pesquisar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-40">
  <div fxLayout="column" fxFlex="900px">
    <mat-card appearance="outlined" class="p-2">
      <mat-card-header >
        <mat-card-title>
          Resultado
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="clientList" class="full-width">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let client">{{ client.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let client">{{ client.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let client">{{ client.cpf }}</td>
          </ng-container>

          <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef>Data De Nascimento</th>
            <td mat-cell *matCellDef="let client">{{ client.dataNascimento }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let client">{{ client.email }}</td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let client">
              <button type="button" mat-button (click)="prepareToEdit(client.id)">
                <mat-icon fontIcon="edit"></mat-icon>
                Editar
              </button>

              <button type="button" mat-button *ngIf="!delete" (click)="prepareDelete()">
                <mat-icon fontIcon="delete"></mat-icon>
                Deletar
              </button>

              <button type="button" mat-button *ngIf="delete" (click)="deleteClient(client)">
                <mat-icon fontIcon="question_mark"></mat-icon>
                Confirmar
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
          <tr mat-row *matRowDef="let client; columns: columnsTable;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
