<div class="container">
  <div class="form-box">
    <form #frm="ngForm" (ngSubmit)="calcularResultado()">
      <h2>Calculadora</h2>
      <label>Numero 1: </label>
      <input type="number" name="num1" id="num1" [(ngModel)]="numero1" />

      <label>Numero 2: </label>
      <input type="number" name="num2" id="num2" [(ngModel)]="numero2" />

      <button type="submit">Somar</button>
    </form>

    <div class="result-display" *ngIf="resultado">
      <P>Seu resultado esta abaixo:</P>
      <p>Resultado: <span id="result">{{ resultado }}</span></p>
    </div>

    <!-- @if (resultado) {
      <div class="result-display">
        <p>Resultado: <span id="result">{{ resultado }}</span></p>
      </div>
    } -->



  </div>
</div>
